Small notebook to grab some philly crime data, philly weather data, and philly income data, clean it, and convert to csv.

# Installing and importing libraries

In [1]:
# Install necessary libs
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/anthonykupeczbitch/opt/anaconda3/lib/python3.8/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/anthonykupeczbitch/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4) (2.5)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import date, timedelta

#Grabbing Philadelphia Crime Data for 2025 and 2024.

**Download links follow the scheme:**

https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%27\<**BEGINNING YEAR**\>-01-01%27%20AND%20dispatch_date_time%20%3C%20%27\<**YEAR AFTER**\>-01-01%27

In [3]:
base_url = 'https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%27'
mid_url = '-01-01%27%20AND%20dispatch_date_time%20%3C%20%27'
end_url = '-01-01%27'

for year in range(2024, 2026):
  full_url = '\'' + base_url + str(year) + mid_url + str(year+1) + end_url + '\''
  output_fname = '\'' + 'ExampleData/' + str(year) + 'PhillyCrimeData.csv\''
  # print(output_fname)
  !wget $full_url -O $output_fname

--2025-06-08 13:57:42--  https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272024-01-01%27%20AND%20dispatch_date_time%20%3C%20%272025-01-01%27
Resolving phl.carto.com (phl.carto.com)... 35.222.16.111
Connecting to phl.carto.com (phl.carto.com)|35.222.16.111|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/2024PhillyCrimeData.csv’

ExampleData/2024Phi     [         <=>        ]  42.77M  26.1MB/s    in 1.6s

2025-06-08 13:57:49 (26.1 MB/s) - ‘ExampleData/2024PhillyCrimeData.csv’ saved [44852385]

--2025-06-08 13:57:49--  https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272025-01-01%27%20AND%20dispatch_date_time%20%3C%20%272026-01-01%27
Resolving phl.carto.com (phl.carto.com)... 35.222.16.111
Connecting to phl.carto.com (phl.carto.com)|35.222.16.111|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/2025PhillyCrimeData.csv’

ExampleData/2025Phi     [    <=>             ]  17.06M  25.7MB/s    in 0.7s

2025-06-08 13:57:52 (25.7 MB/s) - ‘ExampleData/2025PhillyCrimeData.csv’ saved [17885405]

In [36]:
crime2025 = pd.read_csv('ExampleData/2025PhillyCrimeData.csv')
crime2025.info()
crime2025.head(100)

crime2024 = pd.read_csv('ExampleData/2024PhillyCrimeData.csv')
crime2024.info()
crime2024.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61894 entries, 0 to 61893
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   the_geom              60494 non-null  object
 1   cartodb_id            61894 non-null  int64
 2   the_geom_webmercator  60494 non-null  object
 3   objectid              61894 non-null  int64
 4   dc_dist               61894 non-null  int64
 5   psa                   61883 non-null  object
 6   dispatch_date_time    61894 non-null  object
 7   dispatch_date         61894 non-null  object
 8   dispatch_time         61894 non-null  object
 9   hour                  61894 non-null  int64
 10  dc_key                61894 non-null  float64
 11  location_block        61894 non-null  object
 12  ucr_general           61894 non-null  int64
 13  text_general_code     61894 non-null  object
 14  point_x               60496 non-null  float64
 15  point_y               60496 non-null  float64
 16  lat                   60494 non-null  float64
 17  lng                   60494 non-null  float64
dtypes: float64(5), int64(5), object(8)
memory usage: 8.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   the_geom              153713 non-null  object
 1   cartodb_id            160388 non-null  int64
 2   the_geom_webmercator  153644 non-null  object
 3   objectid              160388 non-null  int64
 4   dc_dist               160388 non-null  int64
 5   psa                   160337 non-null  object
 6   dispatch_date_time    160388 non-null  object
 7   dispatch_date         160388 non-null  object
 8   dispatch_time         160388 non-null  object
 9   hour                  160388 non-null  int64
 10  dc_key                160388 non-null  float64
 11  location_block        160366 non-null  object
 12  ucr_general           160388 non-null  int64
 13  text_general_code     160388 non-null  object
 14  point_x               153657 non-null  float64
 15  point_y               153657 non-null  float64
 16  lat                   153644 non-null  float64
 17  lng                   153644 non-null  float64
dtypes: float64(5), int64(5), object(8)
memory usage: 22.0+ MB

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000586A6427C1C752C0C027CEA5C6FF...,129,0101000020110F0000C1649D6F74E65FC14D2433FCA58F...,28268376,25,3,2024-09-04 04:00:00+00,2024-09-04,00:00:00,18,2.024251e+11,3200 BLOCK D ST,100,Homicide - Criminal,-75.121164,39.998250,39.998250,-75.121164
1,0101000020E610000028A86E4F8CC752C0F83C94753300...,134,0101000020110F0000B77203AD1AE65FC1D97F609F1E90...,28268381,25,3,2024-06-28 04:00:00+00,2024-06-28,00:00:00,13,2.024250e+11,3400 BLOCK CRYSTAL ST,100,Homicide - Criminal,-75.117939,40.001570,40.001570,-75.117939
2,0101000020E6100000FCEF79DFC7C952C038AA9A8D4601...,136,0101000020110F0000DA105588E5E95FC13D5FE1A34F91...,28268383,39,NaN,2024-10-10 04:00:00+00,2024-10-10,00:00:00,21,2.024391e+11,3700 BLOCK N 15TH ST,100,Homicide - Criminal,-75.152824,40.009966,40.009966,-75.152824
3,0101000020E6100000C4AA64A72FC652C0E8DC99E8B700...,140,0101000020110F00007B44A672CAE35FC163B57C79B190...,28268387,24,1,2024-10-13 04:00:00+00,2024-10-13,00:00:00,4,2.024241e+11,3900 BLOCK KENSINGTON AV,100,Homicide - Criminal,-75.096659,40.005612,40.005612,-75.096659
4,0101000020E61000004C5478C87BC752C010677C345C03...,573,0101000020110F000024634C9AFEE55FC123E4A3729F93...,28268392,25,2,2024-12-24 05:00:00+00,2024-12-24,00:00:00,22,2.024251e+11,400 BLOCK E ROOSEVELT BLVD,100,Homicide - Criminal,-75.116930,40.026251,40.026251,-75.116930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0101000020E61000001C1C0F5D40C252C0F85150CE330B...,36948,0101000020110F0000B86BBB761BDD5FC16C6CFC18539C...,28264686,7,2,2024-12-31 05:00:00+00,2024-12-31,00:00:00,16,2.024070e+11,9600 BLOCK BUSTLETON AV,100,Homicide - Criminal,-75.035178,40.087518,40.087518,-75.035178
96,0101000020E6100000C016E6FDF2CE52C0089E3960A1F8...,36952,0101000020110F00001F58A8FBACF25FC11D337AC8BA87...,28264690,12,4,2024-12-17 05:00:00+00,2024-12-17,00:00:00,21,2.024121e+11,5600 BLOCK WHITBY AV,100,Homicide - Criminal,-75.233581,39.942425,39.942425,-75.233581
97,0101000020E610000078AB9F1808CF52C008C823670AFC...,36956,0101000020110F0000BAC3BAD4D0F25FC11D2A0B11828B...,28264694,19,2,2024-10-31 04:00:00+00,2024-10-31,00:00:00,19,2.024191e+11,5700 BLOCK HARMER ST,100,Homicide - Criminal,-75.234869,39.969067,39.969067,-75.234869
98,0101000020E6100000AC51188C58C452C0E856C3432D0A...,36993,0101000020110F000008B1CF39AAE05FC109077AAA2F9B...,28264729,7,1,2024-11-27 05:00:00+00,2024-11-27,00:00:00,17,2.024070e+11,900 BLOCK TUSTIN ST,100,Homicide - Criminal,-75.067904,40.079506,40.079506,-75.067904
99,0101000020E6100000BC2587EF47D052C0C03F6B0CE7FC...,37008,0101000020110F000008A7491CF0F45FC1DACC0998768C...,28264736,19,1,2024-01-05 05:00:00+00,2024-01-05,00:00:00,9,2.024190e+11,6700 BLOCK LEBANON AV,100,Homicide - Criminal,-75.254391,39.975801,39.975801,-75.254391

In [38]:
crime2024['hour'].max()

23

# Grabbing Philly Crime 2016

In [6]:
base_url = "https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%27"
mid_url = '-01-01%27%20AND%20dispatch_date_time%20%3C%20%27'
end_url = '-01-01%27'

for year in range(2016, 2017):
  full_url = '\'' + base_url + str(year) + mid_url + str(year+1) + end_url + '\''
  output_fname = '\'' + 'ExampleData/' + str(year) + 'PhillyCrimeData.csv\''
  print(full_url)
  !wget $full_url -O $output_fname

'https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272016-01-01%27%20AND%20dispatch_date_time%20%3C%20%272017-01-01%27'
--2025-06-08 13:57:54--  https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272016-01-01%27%20AND%20dispatch_date_time%20%3C%20%272017-01-01%27
Resolving phl.carto.com (phl.carto.com)... 35.222.16.111
Connecting to phl.carto.com (phl.carto.com)|35.222.16.111|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/2016PhillyCrimeData.csv’

ExampleData/2016Phi     [     <=>            ]  27.08M  29.3MB/s    in 0.9s

2025-06-08 13:57:59 (29.3 MB/s) - ‘ExampleData/2016PhillyCrimeData.csv’ saved [28393432]

In [7]:
crime2016 = pd.read_csv('ExampleData/2016PhillyCrimeData.csv')
crime2016.info()
crime2016.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161321 entries, 0 to 161320
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   objectid            161321 non-null  int64
 1   dc_dist             161321 non-null  int64
 2   psa                 161278 non-null  object
 3   dispatch_date_time  161321 non-null  object
 4   dispatch_date       161321 non-null  object
 5   dispatch_time       161321 non-null  object
 6   hour                161316 non-null  float64
 7   dc_key              161321 non-null  float64
 8   location_block      161321 non-null  object
 9   ucr_general         161321 non-null  int64
 10  text_general_code   161321 non-null  object
 11  point_x             159584 non-null  float64
 12  point_y             159584 non-null  float64
 13  lat                 159584 non-null  float64
 14  lng                 159584 non-null  float64
dtypes: float64(6), int64(3), object(6)
memory usage: 18.5+ MB

,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,28268791,25,3,2016-05-09 04:00:00+00,2016-05-09,00:00:00,2.0,2.016250e+11,3200 BLOCK RORER ST,100,Homicide - Criminal,-75.120023,39.998473,39.998473,-75.120023
1,28268792,25,2,2016-08-22 04:00:00+00,2016-08-22,00:00:00,1.0,2.016251e+11,3700 BLOCK N 7TH ST,100,Homicide - Criminal,-75.140363,40.008643,40.008643,-75.140363
2,28262274,3,2,2016-12-24 05:00:00+00,2016-12-24,00:00:00,9.0,2.016031e+11,1200 BLOCK S 6T ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
3,28262991,12,1,2016-04-22 04:00:00+00,2016-04-22,00:00:00,21.0,2.016120e+11,8400 BLOCK LINDGERGH BLVD,100,Homicide - Criminal,NaN,NaN,NaN,NaN
4,28262992,12,4,2016-09-13 04:00:00+00,2016-09-13,00:00:00,20.0,2.016121e+11,5800 BLOCK HOFFMAN ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,28264942,24,3,2016-07-26 04:00:00+00,2016-07-26,00:00:00,14.0,2.016241e+11,3100 BLOCK AGATE ST,100,Homicide - Criminal,-75.108224,39.988740,39.988740,-75.108224
96,28264888,22,2,2016-03-16 04:00:00+00,2016-03-16,00:00:00,17.0,2.016220e+11,2300 BLOCK W OAKDALE ST,100,Homicide - Criminal,-75.170462,39.995332,39.995332,-75.170462
97,28265032,2,2,2016-08-29 04:00:00+00,2016-08-29,00:00:00,18.0,2.016021e+11,700 BLOCK ADAMS Av,100,Homicide - Criminal,-75.106025,40.032319,40.032319,-75.106025
98,28265042,25,3,2016-12-20 05:00:00+00,2016-12-20,00:00:00,23.0,2.016251e+11,2700 BLOCK N 3RD ST,100,Homicide - Criminal,-75.137022,39.993279,39.993279,-75.137022
99,28264900,24,1,2016-07-18 04:00:00+00,2016-07-18,00:00:00,14.0,2.016241e+11,3200 BLOCK SHELBOURNE ST,100,Homicide - Criminal,-75.113604,39.997293,39.997293,-75.113604

# Figuring Out Schema of Crime Data

In [8]:
print(list(crime2024.columns))
print(crime2024.info())
crime2024.head()

['the_geom', 'cartodb_id', 'the_geom_webmercator', 'objectid', 'dc_dist', 'psa', 'dispatch_date_time', 'dispatch_date', 'dispatch_time', 'hour', 'dc_key', 'location_block', 'ucr_general', 'text_general_code', 'point_x', 'point_y', 'lat', 'lng']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   the_geom              153713 non-null  object
 1   cartodb_id            160388 non-null  int64
 2   the_geom_webmercator  153644 non-null  object
 3   objectid              160388 non-null  int64
 4   dc_dist               160388 non-null  int64
 5   psa                   160337 non-null  object
 6   dispatch_date_time    160388 non-null  object
 7   dispatch_date         160388 non-null  object
 8   dispatch_time         160388 non-null  object
 9   hour                  160388 non-null  int64
 10  dc_key                160388 non-null  float64
 11  location_block        160366 non-null  object
 12  ucr_general           160388 non-null  int64
 13  text_general_code     160388 non-null  object
 14  point_x               153657 non-null  float64
 15  point_y               153657 non-null  float64
 16  lat                   153644 non-null  float64
 17  lng                   153644 non-null  float64
dtypes: float64(5), int64(5), object(8)
memory usage: 22.0+ MB
None

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000586A6427C1C752C0C027CEA5C6FF...,129,0101000020110F0000C1649D6F74E65FC14D2433FCA58F...,28268376,25,3,2024-09-04 04:00:00+00,2024-09-04,00:00:00,18,2.024251e+11,3200 BLOCK D ST,100,Homicide - Criminal,-75.121164,39.998250,39.998250,-75.121164
1,0101000020E610000028A86E4F8CC752C0F83C94753300...,134,0101000020110F0000B77203AD1AE65FC1D97F609F1E90...,28268381,25,3,2024-06-28 04:00:00+00,2024-06-28,00:00:00,13,2.024250e+11,3400 BLOCK CRYSTAL ST,100,Homicide - Criminal,-75.117939,40.001570,40.001570,-75.117939
2,0101000020E6100000FCEF79DFC7C952C038AA9A8D4601...,136,0101000020110F0000DA105588E5E95FC13D5FE1A34F91...,28268383,39,NaN,2024-10-10 04:00:00+00,2024-10-10,00:00:00,21,2.024391e+11,3700 BLOCK N 15TH ST,100,Homicide - Criminal,-75.152824,40.009966,40.009966,-75.152824
3,0101000020E6100000C4AA64A72FC652C0E8DC99E8B700...,140,0101000020110F00007B44A672CAE35FC163B57C79B190...,28268387,24,1,2024-10-13 04:00:00+00,2024-10-13,00:00:00,4,2.024241e+11,3900 BLOCK KENSINGTON AV,100,Homicide - Criminal,-75.096659,40.005612,40.005612,-75.096659
4,0101000020E61000004C5478C87BC752C010677C345C03...,573,0101000020110F000024634C9AFEE55FC123E4A3729F93...,28268392,25,2,2024-12-24 05:00:00+00,2024-12-24,00:00:00,22,2.024251e+11,400 BLOCK E ROOSEVELT BLVD,100,Homicide - Criminal,-75.116930,40.026251,40.026251,-75.116930

## Cols to keep
All Columns:
['the_geom', 'cartodb_id', 'the_geom_webmercator', 'objectid', 'dc_dist', 'psa', 'dispatch_date_time', 'dispatch_date', 'dispatch_time', 'hour', 'dc_key', 'location_block', 'ucr_general', 'text_general_code', 'point_x', 'point_y', 'lat', 'lng']

Cols to keep:
['objectid', 'dc_dist', 'dispatch_date', 'hour', 'location_block', 'text_general_code', 'lat', 'lng']

objectid: unique id for the row

dc_dist: police district

In [9]:
keep_cols = ['objectid', 'dc_dist', 'dispatch_date', 'hour', 'location_block', 'text_general_code', 'ucr_general', 'lat', 'lng']

crime2024 = crime2024[keep_cols]
crime2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   objectid           160388 non-null  int64
 1   dc_dist            160388 non-null  int64
 2   dispatch_date      160388 non-null  datetime64[ns]
 3   hour               160388 non-null  int64
 4   location_block     160366 non-null  object
 5   text_general_code  160388 non-null  object
 6   ucr_general        160388 non-null  int64
 7   lat                153644 non-null  float64
 8   lng                153644 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 11.0+ MB

## Cleaning
1. Will want to get rid of rows that have null lat, lng, psa, hour, and location block
2. Figure out the text_general_code types
3. Figure out Location Block Types --> Theres too many
4. Convert dispatch_date to date type
5. Convert hour to INTEGER

In [10]:
crime2024['hour'].value_counts()
crime2024['location_block'].value_counts()

location_block
5500 BLOCK TULIP ST            551
2100 BLOCK SOUTH ST            493
100 BLOCK W CHELTEN AV         485
6500 BLOCK FRANKFORD AV        421
7900 BLOCK E ROOSEVELT BLVD    386
                              ...
500 BLOCK S JUNIPER ST           1
7000 BLOCK WISSAHICKON AV        1
2700 BLOCK W ARIZONA ST          1
5300 BLOCK PASCHALL AV           1
76th& Ogontz Av                  1
Name: count, Length: 33253, dtype: int64

In [11]:
crime2024['dispatch_date'] = pd.to_datetime(crime2024['dispatch_date'])
crime2024['hour'] = crime2024['hour'].fillna(0)
crime2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   objectid           160388 non-null  int64
 1   dc_dist            160388 non-null  int64
 2   dispatch_date      160388 non-null  datetime64[ns]
 3   hour               160388 non-null  int64
 4   location_block     160366 non-null  object
 5   text_general_code  160388 non-null  object
 6   ucr_general        160388 non-null  int64
 7   lat                153644 non-null  float64
 8   lng                153644 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 11.0+ MB

/var/folders/q5/w3l78p3150v1ngzj8475_6th0000gn/T/ipykernel_85804/3295085678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime2024['dispatch_date'] = pd.to_datetime(crime2024['dispatch_date'])
/var/folders/q5/w3l78p3150v1ngzj8475_6th0000gn/T/ipykernel_85804/3295085678.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime2024['hour'] = crime2024['hour'].fillna(0)

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/test')
engine.connect()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "root"

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# we can now use our engine to get the specific output for Postgres
print(pd.io.sql.get_schema(crime2024, name='crime2024', con=engine))

## Schema gor Google Cloud
CREATE TABLE crime2024 (
    unique_row_id BYTES,
    filename STRING,
	objectid INTEGER, 
	dc_dist INTEGER, 
	dispatch_date TIMESTAMP, 
	hour INTEGER, 
	location_block STRING, 
	text_general_code STRING, 
	lat NUMERIC, 
	lng NUMERIC
)

# Grabbing Philly Park Data
This is not needed because it is all contained in the playground dataset

In [ ]:
URL = '\'https://opendata.arcgis.com/api/v3/datasets/9eb26a787a6e448ba426eea7f9f0d93a_0/downloads/data?format=csv&spatialRefId=4326\''
output_fname = 'ExampleData/PhillyPark.csv'

!wget $URL -O $output_fname

In [ ]:
phillypark = pd.read_csv('ExampleData/PhillyPark.csv')
phillypark.info()
phillypark.head(100)
len(phillypark['PARK_NAME'].isin(phillyplayground['PARK_NAME']))

# Grabbing Philly Playground Data

In [78]:
# URL = '\'https://opendata.arcgis.com/datasets/899c807e205244278b3f39421be8489c_0.csv\''
# output_fname = 'ExampleData/PhillyPlay.csv'

# !wget $URL -O $output_fname
URL = '\'https://opendata.arcgis.com/datasets/899c807e205244278b3f39421be8489c_0.geojson\''
output_fname = 'ExampleData/PhillyPlay.geojson'

!wget $URL -O $output_fname

--2025-06-08 17:04:42--  https://opendata.arcgis.com/datasets/899c807e205244278b3f39421be8489c_0.geojson
Resolving opendata.arcgis.com (opendata.arcgis.com)... 3.215.20.206, 184.72.158.166, 34.225.249.205
Connecting to opendata.arcgis.com (opendata.arcgis.com)|3.215.20.206|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://hub.arcgis.com/api/download/v1/items/899c807e205244278b3f39421be8489c/geojson?redirect=true&layers=0 [following]
--2025-06-08 17:04:42--  https://hub.arcgis.com/api/download/v1/items/899c807e205244278b3f39421be8489c/geojson?redirect=true&layers=0
Resolving hub.arcgis.com (hub.arcgis.com)... 184.72.158.166, 3.215.20.206, 34.225.249.205
Connecting to hub.arcgis.com (hub.arcgis.com)|184.72.158.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://hub.arcgis.com/api/v3/datasets/899c807e205244278b3f39421be8489c_0/downloads/data?format=geojson&spatialRefId=4326&where=1%3D1 [following]
--2025-06-08 17:04:42--  https://hub.arcgis.com/api/v3/datasets/899c807e205244278b3f39421be8489c_0/downloads/data?format=geojson&spatialRefId=4326&where=1%3D1
Reusing existing connection to hub.arcgis.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/json]
Saving to: ‘ExampleData/PhillyPlay.geojson’

ExampleData/PhillyP     [ <=>                ] 140.73K  --.-KB/s    in 0.04s

2025-06-08 17:04:42 (3.76 MB/s) - ‘ExampleData/PhillyPlay.geojson’ saved [144105]

In [2]:
# phillyplayground = pd.read_csv('ExampleData/PhillyPlay.csv')
# phillyplayground.info()
# phillyplayground.head(100)
# !pip install geojson
import geojson

playground = []

with open('ExampleData/PhillyPlay.geojson') as f:
  gj = geojson.load(f)

gj['features'][:4]
    
# for loc in gj['features']:
#     objectid = loc['properties']['OBJECTID']
#     park_name = loc['properties']['PARK_NAME']
#     age_range = loc['properties']['AGE_RANGE']
#     lng = loc['geometry']['coordinates'][0]
#     lat = loc['geometry']['coordinates'][1]

#     playground.append([objectid, park_name, age_range, lng, lat])

[{"geometry": {"coordinates": [-75.17437, 40.039424], "type": "Point"}, "properties": {"AGE_RANGE": "5_12_YEARS", "COMMENTS": " ", "DATA_SOURCE": "Nearmap 2023", "DATE_INSTALLED": null, "OBJECTID": 2561, "PARK_NAME": "Morton Playground"}, "type": "Feature"},
 {"geometry": {"coordinates": [-75.050822, 40.061828], "type": "Point"}, "properties": {"AGE_RANGE": "5_12_YEARS", "COMMENTS": "No Signage. No Fence.", "DATA_SOURCE": "Nearmap 2023", "DATE_INSTALLED": null, "OBJECTID": 2562, "PARK_NAME": "George C Pelbano Playground"}, "type": "Feature"},
 {"geometry": {"coordinates": [-75.14524, 39.96535], "type": "Point"}, "properties": {"AGE_RANGE": "UNKNOWN", "COMMENTS": " ", "DATA_SOURCE": "Nearmap 2023", "DATE_INSTALLED": null, "OBJECTID": 2563, "PARK_NAME": "Lawrence Street Playground"}, "type": "Feature"},
 {"geometry": {"coordinates": [-75.177052, 40.036133], "type": "Point"}, "properties": {"AGE_RANGE": "5_12_YEARS", "COMMENTS": " ", "DATA_SOURCE": "2024 October Site Visits", "DATE_INSTALLED": null, "OBJECTID": 2564, "PARK_NAME": "Vernon Park"}, "type": "Feature"}]

In [21]:
def get_country(lat, lon):
  url = f'https://nominatim.openstreetmap.org//reverse?lat={lat}&lon={lon}&format=json&addressdetails=1'
  print(url)
  try:
      result = requests.get(url=url,headers = {'User-Agent':'me'})
      result_json = result.json()
      return result_json['address']['postcode']
  except:
      return None  

playground = []

with open('ExampleData/PhillyPlay.geojson') as f:
  gj = geojson.load(f)

for loc in gj['features'][:50]:
  objectid = loc['properties']['OBJECTID']
  park_name = loc['properties']['PARK_NAME']
  age_range = loc['properties']['AGE_RANGE']
  lng = loc['geometry']['coordinates'][0]
  lat = loc['geometry']['coordinates'][1]

  # try:
  #     location = reverse((lat, lng), exactly_one=True)
  #     if location and 'postcode' in location.raw['address']:
  #         zip = location.raw['address']['postcode']
  #     else:
  #         zip = None
  # except Exception as e:
  #     zip = None
  zip = get_country(lat, lng)
  playground.append([objectid, park_name, age_range, lng, lat, zip])
playground

https://nominatim.openstreetmap.org//reverse?lat=40.039424&lon=-75.17437&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.061828&lon=-75.050822&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.96535&lon=-75.14524&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.036133&lon=-75.177052&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.988874&lon=-75.132826&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.944177&lon=-75.147924&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.966575&lon=-75.128111&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.9998&lon=-75.130305&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.98688&lon=-75.141707&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.999194&lon=-75.1068&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.978159&lon=-75.135142&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.919324&lon=-75.156226&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.021653&lon=-75.21327&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.000609&lon=-75.12188&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.010016&lon=-75.143142&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.061237&lon=-75.157344&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.05239&lon=-75.002657&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.049094&lon=-75.004037&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.001944&lon=-75.174958&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.934707&lon=-75.145766&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.933058&lon=-75.155106&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.029113&lon=-75.211749&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.933493&lon=-75.15113&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.018796&lon=-75.054514&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.965454&lon=-75.167571&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.967363&lon=-75.234192&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.928817&lon=-75.149501&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.043134&lon=-75.131211&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.031335&lon=-75.135964&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.068644&lon=-75.231105&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.97804&lon=-75.17853&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.020087&lon=-75.169372&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.05092&lon=-75.146719&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.021265&lon=-75.048422&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.94733&lon=-75.209333&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.980408&lon=-75.169788&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.984072&lon=-75.112407&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.963724&lon=-75.190883&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.015957&lon=-75.143376&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.020488&lon=-75.145746&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.98342&lon=-75.128294&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.014722&lon=-75.105354&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.002301&lon=-75.208738&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.080619&lon=-74.989555&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.940996&lon=-75.158308&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.975522&lon=-75.151175&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.96617&lon=-75.24329&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=40.000772&lon=-75.15571&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.987332&lon=-75.175382&format=json&addressdetails=1
https://nominatim.openstreetmap.org//reverse?lat=39.977233&lon=-75.231335&format=json&addressdetails=1

[[2561, 'Morton Playground', '5_12_YEARS', -75.17437, 40.039424, '19144'],
 [2562,
  'George C Pelbano Playground',
  '5_12_YEARS',
  -75.050822,
  40.061828,
  '19152'],
 [2563, 'Lawrence Street Playground', 'UNKNOWN', -75.14524, 39.96535, '19122'],
 [2564, 'Vernon Park', '5_12_YEARS', -75.177052, 40.036133, '19144'],
 [2565, 'Waterloo Playground', '5_12_YEARS', -75.132826, 39.988874, '19133'],
 [2566, 'Delancey Park', '5_12_YEARS', -75.147924, 39.944177, '19106'],
 [2567, 'Penn Treaty Park', '2_12_YEARS', -75.128111, 39.966575, '19125'],
 [2568,
  'Jose Manuel Collazo Park',
  '5_12_YEARS',
  -75.130305,
  39.9998,
  '19140'],
 [2569,
  'Rainbow De Colores Playground',
  'UNKNOWN',
  -75.141707,
  39.98688,
  '19133'],
 [2570, 'Harrowgate Park', 'UNKNOWN', -75.1068, 39.999194, '19134'],
 [2571,
  'Michael J Towey Playground',
  '5_12_YEARS',
  -75.135142,
  39.978159,
  '19133'],
 [2572, 'Mifflin Square', '5_12_YEARS', -75.156226, 39.919324, '19148'],
 [2573,
  'Wissahickon Neighbors Playground',
  'UNKNOWN',
  -75.21327,
  40.021653,
  '19127'],
 [2574,
  'Sergeant John J McVeigh Recreation Center',
  '5_12_YEARS',
  -75.12188,
  40.000609,
  '19134'],
 [2575,
  'Butler and Percy Play Lot',
  '2_5_YEARS',
  -75.143142,
  40.010016,
  '19140'],
 [2576,
  'William B Simons Recreation Center',
  '5_12_YEARS',
  -75.157344,
  40.061237,
  '19138'],
 [2577,
  'George Jacobs Playground',
  '2_5_YEARS',
  -75.002657,
  40.05239,
  '19114'],
 [2578,
  'Ronald Trumbette Playground',
  '5_12_YEARS',
  -75.004037,
  40.049094,
  '19114'],
 [2579,
  'James Allen Shuler Playground',
  '5_12_YEARS',
  -75.174958,
  40.001944,
  '19132'],
 [2580,
  'Shot Tower Recreation Center',
  '5_12_YEARS',
  -75.145766,
  39.934707,
  '19147'],
 [2581, 'Gold Star Park', '5_12_YEARS', -75.155106, 39.933058, '19147'],
 [2582,
  'W Freeland Kendrick Recreation Center',
  '5_12_YEARS',
  -75.211749,
  40.029113,
  '19127'],
 [2583, 'Solomon Sacks Playground', 'UNKNOWN', -75.15113, 39.933493, '19147'],
 [2584,
  'American Legion Playground',
  '5_12_YEARS',
  -75.054514,
  40.018796,
  '19149'],
 [2585,
  'Roberto Clemente Playground',
  '5_12_YEARS',
  -75.167571,
  39.965454,
  '19130'],
 [2586,
  'Haddington-Marshall L Shepard Sr Recreation Center',
  '5_12_YEARS',
  -75.234192,
  39.967363,
  '19131'],
 [2587, 'Karen Donnelly Park', 'UNKNOWN', -75.149501, 39.928817, '19147'],
 [2588, 'Fisher Park', '5_12_YEARS', -75.131211, 40.043134, '19120'],
 [2589,
  'John L Barrett Playground',
  '5_12_YEARS',
  -75.135964,
  40.031335,
  '19141'],
 [2590,
  'Samuel F Houston Playground',
  '5_12_YEARS',
  -75.231105,
  40.068644,
  '19128'],
 [2591,
  'Athletic Recreation Center',
  '5_12_YEARS',
  -75.17853,
  39.97804,
  '19121'],
 [2592, 'Fernhill Park', '5_12_YEARS', -75.169372, 40.020087, '19144'],
 [2593,
  'Morris Estate Cultural Center',
  '5_12_YEARS',
  -75.146719,
  40.05092,
  '19126'],
 [2594,
  'Frank JG Dorsey Memorial Playground',
  '2_5_YEARS',
  -75.048422,
  40.021265,
  '19135'],
 [2595, 'Clarence H Clark Park', '5_12_YEARS', -75.209333, 39.94733, '19104'],
 [2596,
  'Dr Martin Luther King Jr Recreation Center',
  '5_12_YEARS',
  -75.169788,
  39.980408,
  '19121'],
 [2597,
  'Cohocksink Recreation Center',
  '5_12_YEARS',
  -75.112407,
  39.984072,
  '19134'],
 [2598,
  'James L Wright Playground',
  '2_5_YEARS',
  -75.190883,
  39.963724,
  '19104'],
 [2599, 'Hunting Park', 'UNKNOWN', -75.143376, 40.015957, '19140'],
 [2600, 'Wingohocking Park', '5_12_YEARS', -75.145746, 40.020488, '19140'],
 [2601,
  'Hagert Street Playground',
  '2_5_YEARS',
  -75.128294,
  39.98342,
  '19125'],
 [2602,
  'Joseph A Ferko Playground',
  '5_12_YEARS',
  -75.105354,
  40.014722,
  '19124'],
 [2603, 'Woodside Park', '5_12_YEARS', -75.208738, 40.002301, '19129'],
 [2604,
  'Elizabeth M Picariello Playground',
  '5_12_YEARS',
  -74.989555,
  40.080619,
  '19114'],
 [2605,
  'Walter Palumbo Recreation Center',
  '5_12_YEARS',
  -75.158308,
  39.940996,
  '19146'],
 [2606,
  'Marie Dendy Recreation Center',
  '5_12_YEARS',
  -75.151175,
  39.975522,
  '19122'],
 [2607, 'Horton Street Play Lot', 'UNKNOWN', -75.24329, 39.96617, '19139'],
 [2608,
  'Heritage Park Playground',
  '5_12_YEARS',
  -75.15571,
  40.000772,
  '19132'],
 [2609,
  'Eric W (Hank) Gathers Jr Recreation Center',
  '5_12_YEARS',
  -75.175382,
  39.987332,
  '19121'],
 [2610,
  'Charles Baker and Carol Baker Rice Recreation Center',
  '5_12_YEARS',
  -75.231335,
  39.977233,
  '19151']]

In [20]:
import requests
url = 'https://nominatim.openstreetmap.org//reverse?lat=40.061828&lon=-75.050822&format=json&addressdetails=1'
result = requests.get(url=url,headers = {'User-Agent':'me'})
result_json = result.json()
result_json['address']['postcode']

'19152'

In [16]:
result.json()

NameError: name 'result' is not defined

In [35]:
import requests
url = 'https://nominatim.openstreetmap.org//reverse?lat=40.039424&lon=-75.17437&format=json&addressdetails=1'
headers = {'User-Agent':'me'}
result = requests.get(url, headers=headers)
result
result.json()
# result_json['address']['postcode']

{'place_id': 331520337,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 968212215,
 'lat': '40.0394955',
 'lon': '-75.1745028',
 'class': 'leisure',
 'type': 'playground',
 'place_rank': 30,
 'importance': 8.138017853051068e-05,
 'addresstype': 'leisure',
 'name': '',
 'display_name': 'East Rittenhouse Street, Germantown - Morton, Northwest Philadelphia, Philadelphia, Philadelphia County, Pennsylvania, 19144, United States',
 'address': {'road': 'East Rittenhouse Street',
  'neighbourhood': 'Germantown - Morton',
  'suburb': 'Northwest Philadelphia',
  'city': 'Philadelphia',
  'county': 'Philadelphia County',
  'state': 'Pennsylvania',
  'ISO3166-2-lvl4': 'US-PA',
  'postcode': '19144',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['40.0393398', '40.0397318', '-75.1747279', '-75.1742777']}

In [34]:
cols = ['objectid', 'park_name', 'age_range', 'lng', 'lat']
df = pd.DataFrame(playground, columns=cols)
df

ValueError: 5 columns passed, passed data had 6 columns

In [129]:
geolocator = Nominatim(user_agent="zipcode_lookup")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

def get_zip(row):
  try:
      location = reverse((row['lat'], row['lng']), exactly_one=True)
      if location and 'postcode' in location.raw['address']:
          return location.raw['address']['postcode']
      else:
          return None
  except Exception as e:
      return None

df['zip'] = df.apply(get_zip, axis=1)
df['zip'] = df['zip'].astype('Int64')

In [130]:
df

,objectid,park_name,age_range,lng,lat,zip
0,2561,Morton Playground,5_12_YEARS,-75.174370,40.039424,19144
1,2562,George C Pelbano Playground,5_12_YEARS,-75.050822,40.061828,19152
2,2563,Lawrence Street Playground,UNKNOWN,-75.145240,39.965350,19122
3,2564,Vernon Park,5_12_YEARS,-75.177052,40.036133,19144
4,2565,Waterloo Playground,5_12_YEARS,-75.132826,39.988874,19133

In [125]:
print(reverse((40.039424, -75.174370), exactly_one=True))

East Rittenhouse Street, Germantown - Morton, Northwest Philadelphia, Philadelphia, Philadelphia County, Pennsylvania, 19144, United States

## Schema for playground data

In [ ]:
print(list(phillyplayground.columns))
print(phillyplayground.columns[phillyplayground.isna().any()].tolist())

## Cols to keep
All Columns:
['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE', 'DATE_INSTALLED', 'COMMENTS', 'DATA_SOURCE']


Cols to keep:
['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE']

In [56]:
keep_cols = ['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE']

phillyplayground = phillyplayground[keep_cols]
phillyplayground.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   X          464 non-null    float64
 1   Y          464 non-null    float64
 2   OBJECTID   464 non-null    int64
 3   PARK_NAME  464 non-null    object
 4   AGE_RANGE  464 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 18.2+ KB

# Grabbing Philly Weather Data for 2024 and 2025

In [ ]:
# Set date range
sdate = pd.to_datetime('2006-01-01')
edate = date.today()
dates = pd.date_range(sdate,edate,freq='d')

# Get rid of dashes in the date
dates = dates.strftime('%Y%m%d')
len(dates)

Using weather API to get historical data

Using wunderground created issues since its table is dynamically created using JS, and thus cant be accessed through DOM. And I didnt want to use selenium

API Endpoint is: https://api.weather.com/v1/location/KPHL:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate=\<date\>

In [ ]:
import requests
from datetime import datetime


base_url = 'https://api.weather.com/v1/location/KPHL:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate='
phl_weather = []

# Get the average temp for each date
for date in dates:
  full_url = base_url + date
  print(date)
  try:
      response = requests.get(full_url).json()['observations']
      total = 0
      num_obs = 0
      for obs in response:
        if obs['temp'] != None:
          total += obs['temp']
          num_obs += 1
      avg_temp = total / num_obs
      phl_weather.append([str(datetime.strptime(date, '%Y%m%d').date()), avg_temp])        
  except:
      pass
        
# Convert to a dataframe
cols = ['Date', 'Avg Temp']
phl_weather = pd.DataFrame(phl_weather, columns=cols)

In [57]:
# Testing geopy library 
# !pip install geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

# Clean a little
keep_cols = ['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE']
phillyplayground = phillyplayground[keep_cols].head(5)

geolocator = Nominatim(user_agent="zipcode_lookup")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

def get_zip(row):
  try:
      location = reverse((row['Y'], row['X']), exactly_one=True)
      if location and 'postcode' in location.raw['address']:
          return location.raw['address']['postcode']
      else:
          return None
  except Exception as e:
      return None

phillyplayground['zip'] = phillyplayground.apply(get_zip, axis=1)
phillyplayground['zip'] = phillyplayground['zip'].astype('Int64') 
phillyplayground[['X','Y']]

/Users/anthonykupeczbitch/opt/anaconda3/lib/python3.8/site-packages/geopy/point.py:472: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  return cls(*args)

,X,Y,OBJECTID,PARK_NAME,AGE_RANGE,zip
0,-8.368373e+06,4.871673e+06,2561,Morton Playground,5_12_YEARS,<NA>
1,-8.354619e+06,4.874931e+06,2562,George C Pelbano Playground,5_12_YEARS,<NA>
2,-8.365130e+06,4.860908e+06,2563,Lawrence Street Playground,UNKNOWN,<NA>
3,-8.368671e+06,4.871194e+06,2564,Vernon Park,5_12_YEARS,<NA>
4,-8.363748e+06,4.864326e+06,2565,Waterloo Playground,5_12_YEARS,<NA>

In [135]:
location = reverse((40.039424, -75.17437), exactly_one=True)
location.raw['address']['postcode']

'19144'

In [ ]:
geolocator = Nominatim(user_agent="zipcode_lookup")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

4871672.879, -8368372.636

In [63]:
import datetime
crime2024[pd.to_datetime(crime2024['dispatch_date']) >= pd.to_datetime(datetime.date.today() - timedelta(days=367))]

,objectid,dc_dist,dispatch_date,hour,location_block,text_general_code,ucr_general,lat,lng
0,28268376,25,2024-09-04,18,3200 BLOCK D ST,Homicide - Criminal,100,39.998250,-75.121164
1,28268381,25,2024-06-28,13,3400 BLOCK CRYSTAL ST,Homicide - Criminal,100,40.001570,-75.117939
2,28268383,39,2024-10-10,21,3700 BLOCK N 15TH ST,Homicide - Criminal,100,40.009966,-75.152824
3,28268387,24,2024-10-13,4,3900 BLOCK KENSINGTON AV,Homicide - Criminal,100,40.005612,-75.096659
4,28268392,25,2024-12-24,22,400 BLOCK E ROOSEVELT BLVD,Homicide - Criminal,100,40.026251,-75.116930
...,...,...,...,...,...,...,...,...,...
160373,24885094,19,2024-11-29,21,900 BLOCK N 64TH ST,Other Assaults,800,39.976900,-75.247873
160380,24707339,9,2024-12-31,14,1200 BLOCK Locust St,Motor Vehicle Theft,700,39.947727,-75.160947
160381,25056403,25,2024-12-27,11,3400 BLOCK N MARSHALL ST,Narcotic / Drug Law Violations,1800,40.003580,-75.140759
160383,24312159,7,2024-11-15,10,9300 BLOCK HOFF ST,Motor Vehicle Theft,700,40.081455,-75.035177
160385,24250468,14,2024-12-22,16,76th& Ogontz Av,Motor Vehicle Theft,700,40.069965,-75.157166

# Scraping Median Income Data

In [46]:
import re
url = 'https://zipatlas.com/us/pa/philadelphia/zip-code-comparison/highest-median-household-income.htm'

philly_income = pd.read_html(url)[0]
philly_income = philly_income.drop(columns=['Unnamed: 0', 'vs State',
       'vs National'])
philly_income.head()

# convert currency to int
philly_income['Household Income'] = philly_income['Household Income'].replace('[\$,]', '', regex=True).astype(float)

In [44]:
philly_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Zip Code          47 non-null     int64
 1   Household Income  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 880.0 bytes

In [24]:
import pandas as pd
import re
import requests
from datetime import date, timedelta,  datetime


url = 'https://api.weather.com/v1/location/KPHL:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate=20250526'
phl_weather = []


# Get the average temp
response = requests.get(url).json()['observations']

total = 0
num_obs = 0
for obs in response:
  if obs['temp'] != None:
    total += obs['temp']
    num_obs += 1
avg_temp = total / num_obs

phl_weather.append([str(datetime.strptime('2025-05-26', '%Y-%m-%d').date()), avg_temp])

# Convert to a dataframe
cols = ['Date', 'avg_temp']
phl_weather = pd.DataFrame(phl_weather, columns=cols)

# Convert date to date type
phl_weather['Date'] = pd.to_datetime(phl_weather['Date'])
phl_weather

        Date   avg_temp
0 2025-05-26  63.842105

In [19]:
import pandas as pd
import re
import requests
from datetime import date, timedelta,  datetime

date = '20250526'

base_url = 'https://api.weather.com/v1/location/KPHL:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate='
url = base_url + date
# Get the average temp
response = requests.get(url).json()['observations']
print(response)

total = 0
num_obs = 0
for obs in response:
  if obs['temp'] != None:
    total += obs['temp']
    num_obs += 1
avg_temp = total / num_obs

phl_weather.append([str(datetime.strptime(date, '%Y%m%d').date()), avg_temp])

# Convert to a dataframe
cols = ['Date', 'avg_temp']
phl_weather = pd.DataFrame(phl_weather, columns=cols)

# Convert date to date type
phl_weather['Date'] = pd.to_datetime(phl_weather['Date'])
phl_weather
# phl_weather.to_csv('{{render(vars.output_name)}}', index=False)

[{'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748242440, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748235240, 'day_ind': 'N', 'temp': 58, 'wx_icon': 33, 'icon_extd': 3300, 'wx_phrase': 'Fair', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 45, 'heat_index': 58, 'rh': 62, 'pressure': 30.16, 'vis': 10, 'wc': 58, 'wdir': 350, 'wdir_cardinal': 'N', 'gust': None, 'wspd': 5, 'max_temp': 71, 'min_temp': 52, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 58, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'FEW', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748246040, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748238840, 'day_ind': 'N', 'temp': 56, 'wx_icon': 33, 'icon_extd': 3300, 'wx_phrase': 'Fair', 'pressure_tend': 2, 'pressure_desc': 'Falling Rapidly', 'dewPt': 45, 'heat_index': 56, 'rh': 67, 'pressure': 30.15, 'vis': 10, 'wc': 56, 'wdir': None, 'wdir_cardinal': 'CALM', 'gust': None, 'wspd': 0, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 56, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'FEW', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748249640, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748242440, 'day_ind': 'N', 'temp': 56, 'wx_icon': 33, 'icon_extd': 3300, 'wx_phrase': 'Fair', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 44, 'heat_index': 56, 'rh': 64, 'pressure': 30.16, 'vis': 10, 'wc': 56, 'wdir': 330, 'wdir_cardinal': 'NNW', 'gust': None, 'wspd': 5, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 56, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'FEW', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748253240, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748246040, 'day_ind': 'N', 'temp': 55, 'wx_icon': 33, 'icon_extd': 3300, 'wx_phrase': 'Fair', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 44, 'heat_index': 55, 'rh': 67, 'pressure': 30.18, 'vis': 10, 'wc': 55, 'wdir': 330, 'wdir_cardinal': 'NNW', 'gust': None, 'wspd': 5, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 55, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'CLR', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748256840, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748249640, 'day_ind': 'N', 'temp': 54, 'wx_icon': 29, 'icon_extd': 2900, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': 1, 'pressure_desc': 'Rising', 'dewPt': 44, 'heat_index': 54, 'rh': 69, 'pressure': 30.18, 'vis': 10, 'wc': 54, 'wdir': 320, 'wdir_cardinal': 'NW', 'gust': None, 'wspd': 6, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 54, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748260440, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748253240, 'day_ind': 'D', 'temp': 53, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 44, 'heat_index': 53, 'rh': 71, 'pressure': 30.19, 'vis': 10, 'wc': 53, 'wdir': 330, 'wdir_cardinal': 'NNW', 'gust': None, 'wspd': 5, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 53, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748264040, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748256840, 'day_ind': 'D', 'temp': 56, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 44, 'heat_index': 56, 'rh': 64, 'pressure': 30.2, 'vis': 10, 'wc': 56, 'wdir': 340, 'wdir_cardinal': 'NNW', 'gust': None, 'wspd': 10, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 56, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748267640, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748260440, 'day_ind': 'D', 'temp': 59, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': 1, 'pressure_desc': 'Rising', 'dewPt': 44, 'heat_index': 59, 'rh': 58, 'pressure': 30.21, 'vis': 10, 'wc': 59, 'wdir': 360, 'wdir_cardinal': 'N', 'gust': None, 'wspd': 10, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 59, 'uv_index': 1, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748271240, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748264040, 'day_ind': 'D', 'temp': 62, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 46, 'heat_index': 62, 'rh': 56, 'pressure': 30.23, 'vis': 10, 'wc': 62, 'wdir': 30, 'wdir_cardinal': 'NNE', 'gust': None, 'wspd': 8, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 62, 'uv_index': 2, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748274840, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748267640, 'day_ind': 'D', 'temp': 64, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 45, 'heat_index': 64, 'rh': 50, 'pressure': 30.23, 'vis': 10, 'wc': 64, 'wdir': 20, 'wdir_cardinal': 'NNE', 'gust': None, 'wspd': 3, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Moderate', 'feels_like': 64, 'uv_index': 3, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748278440, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748271240, 'day_ind': 'D', 'temp': 67, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': 0, 'pressure_desc': 'Steady', 'dewPt': 45, 'heat_index': 67, 'rh': 45, 'pressure': 30.22, 'vis': 10, 'wc': 67, 'wdir': None, 'wdir_cardinal': 'VAR', 'gust': None, 'wspd': 6, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Moderate', 'feels_like': 67, 'uv_index': 4, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748282040, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748274840, 'day_ind': 'D', 'temp': 68, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 44, 'heat_index': 68, 'rh': 42, 'pressure': 30.22, 'vis': 10, 'wc': 68, 'wdir': None, 'wdir_cardinal': 'VAR', 'gust': None, 'wspd': 3, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'High', 'feels_like': 68, 'uv_index': 6, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748285640, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748278440, 'day_ind': 'D', 'temp': 70, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 42, 'heat_index': 70, 'rh': 36, 'pressure': 30.22, 'vis': 10, 'wc': 70, 'wdir': None, 'wdir_cardinal': 'VAR', 'gust': None, 'wspd': 3, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'High', 'feels_like': 70, 'uv_index': 6, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748289240, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748282040, 'day_ind': 'D', 'temp': 72, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': 2, 'pressure_desc': 'Falling Rapidly', 'dewPt': 45, 'heat_index': 72, 'rh': 38, 'pressure': 30.21, 'vis': 10, 'wc': 72, 'wdir': 150, 'wdir_cardinal': 'SSE', 'gust': None, 'wspd': 7, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'High', 'feels_like': 72, 'uv_index': 6, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748292840, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748285640, 'day_ind': 'D', 'temp': 72, 'wx_icon': 30, 'icon_extd': 3000, 'wx_phrase': 'Partly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 44, 'heat_index': 72, 'rh': 37, 'pressure': 30.19, 'vis': 10, 'wc': 72, 'wdir': 100, 'wdir_cardinal': 'E', 'gust': None, 'wspd': 7, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Moderate', 'feels_like': 72, 'uv_index': 5, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'SCT', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748296440, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748289240, 'day_ind': 'D', 'temp': 74, 'wx_icon': 28, 'icon_extd': 2800, 'wx_phrase': 'Mostly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 45, 'heat_index': 74, 'rh': 35, 'pressure': 30.19, 'vis': 10, 'wc': 74, 'wdir': 100, 'wdir_cardinal': 'E', 'gust': None, 'wspd': 5, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Moderate', 'feels_like': 74, 'uv_index': 3, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'BKN', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748300040, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748292840, 'day_ind': 'D', 'temp': 73, 'wx_icon': 28, 'icon_extd': 2800, 'wx_phrase': 'Mostly Cloudy', 'pressure_tend': 2, 'pressure_desc': 'Falling', 'dewPt': 43, 'heat_index': 73, 'rh': 34, 'pressure': 30.19, 'vis': 10, 'wc': 73, 'wdir': 150, 'wdir_cardinal': 'SSE', 'gust': None, 'wspd': 5, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 73, 'uv_index': 1, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'BKN', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748303640, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748296440, 'day_ind': 'D', 'temp': 72, 'wx_icon': 28, 'icon_extd': 2800, 'wx_phrase': 'Mostly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 43, 'heat_index': 72, 'rh': 35, 'pressure': 30.2, 'vis': 10, 'wc': 72, 'wdir': 150, 'wdir_cardinal': 'SSE', 'gust': None, 'wspd': 3, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 72, 'uv_index': 1, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'BKN', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}, {'key': 'KPHL', 'class': 'observation', 'expire_time_gmt': 1748307240, 'obs_id': 'KPHL', 'obs_name': 'Philadelphia', 'valid_time_gmt': 1748300040, 'day_ind': 'D', 'temp': 72, 'wx_icon': 28, 'icon_extd': 2800, 'wx_phrase': 'Mostly Cloudy', 'pressure_tend': None, 'pressure_desc': None, 'dewPt': 43, 'heat_index': 72, 'rh': 35, 'pressure': 30.21, 'vis': 10, 'wc': 72, 'wdir': 180, 'wdir_cardinal': 'S', 'gust': None, 'wspd': 3, 'max_temp': None, 'min_temp': None, 'precip_total': None, 'precip_hrly': 0, 'snow_hrly': None, 'uv_desc': 'Low', 'feels_like': 72, 'uv_index': 0, 'qualifier': None, 'qualifier_svrty': None, 'blunt_phrase': None, 'terse_phrase': None, 'clds': 'BKN', 'water_temp': None, 'primary_wave_period': None, 'primary_wave_height': None, 'primary_swell_period': None, 'primary_swell_height': None, 'primary_swell_direction': None, 'secondary_swell_period': None, 'secondary_swell_height': None, 'secondary_swell_direction': None}]

        Date   avg_temp
0 2025-05-26  63.842105

## Looking at DBT

In [26]:
crime2024

,objectid,dc_dist,dispatch_date,hour,location_block,text_general_code,ucr_general,lat,lng
0,28268376,25,2024-09-04,18,3200 BLOCK D ST,Homicide - Criminal,100,39.998250,-75.121164
1,28268381,25,2024-06-28,13,3400 BLOCK CRYSTAL ST,Homicide - Criminal,100,40.001570,-75.117939
2,28268383,39,2024-10-10,21,3700 BLOCK N 15TH ST,Homicide - Criminal,100,40.009966,-75.152824
3,28268387,24,2024-10-13,4,3900 BLOCK KENSINGTON AV,Homicide - Criminal,100,40.005612,-75.096659
4,28268392,25,2024-12-24,22,400 BLOCK E ROOSEVELT BLVD,Homicide - Criminal,100,40.026251,-75.116930
...,...,...,...,...,...,...,...,...,...
160383,24312159,7,2024-11-15,10,9300 BLOCK HOFF ST,Motor Vehicle Theft,700,40.081455,-75.035177
160384,16362093,2,2024-05-09,17,7900 BLOCK E ROOSEVELT BLVD,Theft from Vehicle,600,40.055011,-75.049726
160385,24250468,14,2024-12-22,16,76th& Ogontz Av,Motor Vehicle Theft,700,40.069965,-75.157166
160386,16362952,7,2024-05-16,10,8100 BLOCK CASTOR AV,Thefts,600,40.064154,-75.054339
160387,16327977,9,2024-05-13,12,1900 BLOCK WALNUT ST,All Other Offenses,2600,39.950416,-75.172584

In [50]:
crime2024[['lat', 'lng']].value_counts()

lat        lng
40.012238  -75.066939    430
39.883896  -75.230667    367
40.030069  -75.056023    316
40.055555  -75.049197    298
39.947373  -75.228878    291
                        ...
39.979301  -75.145629      1
39.979297  -75.131735      1
39.979296  -75.161896      1
39.979295  -75.157769      1
42.224336  -80.502372      1
Name: count, Length: 85871, dtype: int64

In [24]:
phillyplayground['AGE_RANGE'].unique()

array(['5_12_YEARS', 'UNKNOWN', '2_12_YEARS', '2_5_YEARS', ' '],
      dtype=object)

In [23]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import geojson

geolocator = Nominatim(user_agent="zipcode_lookup")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

playground = []

with open('{{render(vars.data)}}') as f:
    gj = geojson.load(f)

for loc in gj['features']: 
    objectid = loc['properties']['OBJECTID']
    park_name = loc['properties']['PARK_NAME']
    age_range = loc['properties']['OBJECTID']
    lng = loc['geometry']['coordinates'][0]
    lat = loc['geometry']['coordinates'][1]

    try:
        location = reverse((lat, lng), exactly_one=True)
        if location and 'postcode' in location.raw['address']:
            zip = location.raw['address']['postcode']
    else:
        zip = None
        
    except Exception as e:
    zip = None
  
  playground.append([objectid, park_name, age_range, lng, lat, zip])

    
# for i in range(5):
#     objectid = gj['features'][i]['properties']['OBJECTID']
#     park_name = gj['features'][i]['properties']['PARK_NAME']
#     age_range = gj['features'][i]['properties']['OBJECTID']
#     lng = gj['features'][i]['geometry']['coordinates'][0]
#     lat = gj['features'][i]['geometry']['coordinates'][1]

# Convert to a dataframe
cols = ['objectid', 'park_name', 'age_range', 'lng', 'lat', 'zip']
df = pd.DataFrame(playground, columns=cols)

df['zip'] = df['zip'].astype('Int64')    

df.to_csv('philly_playground.csv', index=False)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 31)

In [33]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import geojson

geolocator = Nominatim(user_agent="zipcode_lookup")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)
location = reverse((39.982623, -75.23), exactly_one=True)
location

Location(5342, West Columbia Avenue, Wynnefield, West Philadelphia, Philadelphia, Philadelphia County, Pennsylvania, 08065, United States, (39.9825078, -75.2299929, 0.0))